<a href="https://colab.research.google.com/github/zelal-Eizaldeen/Applied-Machine-Learning/blob/main/Assignmnet_5_zelalae2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
import numpy as np
import pandas as pd

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

##**Part 1 -- By Zilal**
- Design SVM From Scratch

In [7]:
DATA_DIR='/content/drive/MyDrive/MastersDegree/CS598 PSL/Assignments/A5/Data'

In [74]:
train = pd.read_csv(f'{DATA_DIR}/coding5_train.csv')
test = pd.read_csv(f'{DATA_DIR}/coding5_test.csv')

In [75]:
# Map Y values: 5 -> -1, 6 -> 1
train['Y'] = train['Y'].map({5: -1, 6: 1})
test['Y'] = test['Y'].map({5: -1, 6: 1})

In [76]:
# Separate features and labels
X_train = train.drop('Y', axis=1).values
y_train = train['Y'].values
X_test = test.drop('Y', axis=1).values
y_test = test['Y'].values

In [77]:
X_train.shape

(200, 256)

In [72]:
type(X_train)

numpy.ndarray

In [47]:
train.isnull().sum()

V1      0
V2      0
V3      0
V4      0
V5      0
       ..
V253    0
V254    0
V255    0
V256    0
Y       0
Length: 257, dtype: int64

In [81]:
#Know if the data is balanced or not
train.Y.astype('category').value_counts()

Y
-1    100
 1    100
Name: count, dtype: int64

In [79]:
test.Y.astype('category').value_counts()

Y
-1    300
 1    300
Name: count, dtype: int64

In [83]:
# Parameters for SVM
learning_rate = 0.01
epochs = 100
n_samples, n_features = X_train.shape

# Initialize weights and bias
weights = np.random.randn(n_features)
bias = np.random.randn()

# SVM with SGD
for epoch in range(epochs):
    for i in range(n_samples):
        # Compute the condition for margin violation
        condition = y_train[i] * (np.dot(X_train[i], weights) + bias)

        # Update weights and bias based on the condition
        if condition >= 1:
            # No penalty, just update with regularization
            weights -= learning_rate * (2 * weights / epochs)
        else:
            # Penalty term applied
            weights -= learning_rate * (2 * weights / epochs - np.dot(X_train[i], y_train[i]))
            bias -= learning_rate * y_train[i]

# Decision function to make predictions
def predict(X):
    return np.sign(np.dot(X, weights) + bias)

# Predictions on test data
predictions = predict(X_test)

# Evaluate accuracy
accuracy = np.mean(predictions == y_test)
print(f"Test Accuracy: {accuracy * 100:.2f}%")

Test Accuracy: 94.83%